/* ======================== RESET & GLOBAL STYLES ============================= */
/* these apply everywhere */


/* Set base font, text color, and background for the whole page */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/* Remove default margin from all headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Remove underline from all links */
a {
    text-decoration: none;
}

/* Remove default padding and bullet points from lists */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* all images block elements-- to remove spacing below them */
img {
    display: block;
}







/* ===================== MOBILE STYLES (default: 320–767px) ========== */

/* Set base font, text color, and background for the whole page */

/* hamburger visible mobile */
.menu-toggle {
    display: inline-flex;
    margin-left: auto;
    background: transparent;
    border: none;
    align-items: center;

}

/* hide full nav & contactsm mobile*/
.nav-list,
.contacts {
    display: none;
}

/* Set a maximum width and horizontal padding, and center the container mobile*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Add a bottom border to the page header mobile*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Header container with horizontal alignment mobile */
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Navigation bar layout mobile */
.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* logo left macimu and hamburger maximum right */
}


/* Shared style for both header and footer logos  --- mobile tablet desktop */
.header-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

/* Color variation for the dark part of the logo in the header --- mobile tablet desktop */
.header-logo .studio-black {
    color: #2e2f42;
}

/* Color variation for the white part of the logo in the footer   --- mobile tablet desktop */
.footer-logo .studio-white {
    color: #f4f4fd;
}


/* Hero section with dark background and custom padding */
.section-title {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
}

/* Main title style in the hero section */
.page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;      /* check how it is working and why it is here */
    max-width: 496px;         /* check how it is working and why it is here */
}

/* Style for the button - Order services */
.button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover and focus effects for the button */
.button:hover,
.button:focus {
    background: #404bbf;
}

/* Utility class to hide elements visually but keep them accessible */
.visually-hidden {
    position: absolute;      /* check how it is workking */
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*svg 4 images in mobile version they not appearing only in desktop verson*/
.container-icon {
    display: none;
}

/* Layout with spacing for the about section mobile*/
.about-list {
    display: flex;  /* from video */
    row-gap: 72px; /* from viedo */
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; /* from viedo column for mobile */
    max-width: 320px; /* from viedo  288px + 16px + 16px =320*/
    padding-left: 16px; /* from viedo */
    padding-right: 16px; /* from viedo */
    margin: 0 auto; /* from viedo */
}

/* Layout for each about item block */
.about-item {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* lists for social media in about */
.social-links-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
/* formating of each social icon link*/
.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-svg {
    fill: #f4f4fd;
}



